{% extends "olga/page_detail_base.html" %}

{% block js %}
{{ block.super }}
<script src="{{ STATIC_URL }}olga/js/jquery.panzoom.js"></script>
<script src="{{ STATIC_URL }}olga/js/lightbox.js"></script>
{% endblock %}
